[Task]
task=NER
metric=f1

[Model]
save_model=True
mode=train
freeze=True

[Embedding]
BERT=bert-base-multilingual-cased

[Data]
dataset=CoNLL
#root=../Datasets/
model_path=None
language=conll_03_english
name=en
target_language=conll_03_german,conll_03_dutch,conll_03_spanish
target_name=de,nl,es

[Hyper]
HP_BERT_lr=2e-5
batch_size=32
max_epoch=5
HP_L2=1e-2
percent_of_labeled_data=50
percent_of_unlabeled_data=0
