[Task]
task=NER
metric=f1

[Model]
save_model=True
mode=train
freeze=True
# for CoNLL, freeze for en, nl, no freeze for de, es

[Embedding]
BERT=bert-base-multilingual-cased

[Data]
dataset=CoNLL
#root=../Datasets/
model_path=None

[Hyper]
HP_BERT_lr=2e-5
batch_size=32
max_epoch=5
HP_L2=0
percent_of_labeled_data=50
percent_of_unlabeled_data=0
