[Task]
transfer=True
task=pos
model=
metric=acc
random_labeled_data=False
tune_HP=True

[Model]
save_model=True
save_data=False
mode=train
freeze=False
use_crf=False
aggregate_method=False

[Embedding]
BERT=bert-base-multilingual-cased
# bert-base-multilingual-cased
# xlm-roberta-base

[Data]
dataset=UD
root=../Datasets/
model_path=None
language=UD_English-EWT
name=en
source=en
target_language=UD_Catalan-AnCora,UD_Indonesian-GSD,UD_Hindi-HDTB,UD_Finnish-FTB,UD_Russian-SynTagRus
target_name=ca,id,hi,fi,ru
target=5
train_with_dev=False

[Hyper]
HP_BERT_lr=2e-5
HP_lr=2e-5
batch_size=16
max_epoch=3
fine_tune_epoch=0
HP_L2=1e-2
percent_of_labeled_data=50
percent_of_unlabeled_data=0
load_model=True

[Others]
rounds=3
