[Task]
task=NER
metric=f1

[Model]
save_model=False
mode=train
freeze=False
consensus=KL
aggregate_method=att

[Embedding]
BERT=bert-base-multilingual-cased

[Data]
dataset=CoNLL
#model_path=../Models/MVCLT/
source_name=de,nl,es
language=conll_03_english
name=en

[Hyper]
batch_size=16
HP_BERT_lr=2e-5
HP_lr=2e-4
max_epoch=7
HP_L2=0
interpolation=1
view_interpolation=3
mu=0.5
att_dropout=0.0
#load_model=True
percent_of_labeled_data=50
percent_of_unlabeled_data=1.0
sample_rate=0.1
