[Task]
transfer=True
task=pos
random_labeled_data=True
metric=acc
tune_HP=True

[Model]
use_crf=False
save_model=False
mode=train
freeze=False
consensus=KL
aggregate_method=att
att_bilinear=True

[Embedding]
BERT=bert-base-multilingual-cased
# -multilingual

[Data]
dataset=UD
root=../Datasets/
model_path=../Models/MVCLT/
source=ca,id,hi,fi,ru
target=UD_English-EWT
language=en
train_with_dev=True

[Hyper]
batch_size=16
HP_BERT_lr=2e-4
HP_lr=2e-5
max_epoch=10
fine_tune_epoch=0
HP_L2=0
interpolation=1.0
view_interpolation=1.0
mu=0.5
drop_p_rate=0.0
att_dropout=0.0
load_model=True
percent_of_labeled_data=50
percent_of_unlabeled_data=1.0
sample_rate=0.5

[Others]
rounds=3
